.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register, .login {
  background-color: skyblue;
  padding: 100px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
}

button:hover {
  background-color: beige;
 
}

.home {
  background-color: peru;
  padding: 100px;
}